<p>Restricted size, no rotation:</p>
<!-- <ngb-pagination [collectionSize]="120" [(page)]="page" [maxSize]="5" [boundaryLinks]="true"></ngb-pagination> -->

<p>Restricted size with rotation:</p>
<ngb-pagination [collectionSize]="120" [(page)]="page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true">
  <ng-template ngbPaginationFirst (click)="console.log(1);"><div style="width: 100%;" (click)="clickFirst($event)">First!</div></ng-template>
  <!-- <ng-template ngbPaginationLast><div style="padding: inherit; margin: -0.375rem -0.75rem;" (click)="clickLast($event)">Last</div></ng-template> -->
  <ng-template ngbPaginationLast><div style="padding: 0.375rem 0.75rem; margin: -0.375rem -0.75rem;" (click)="clickLast($event)">Last</div></ng-template>
</ngb-pagination>

<p>Restricted size with rotation and no ellipses:</p>
<!-- <ngb-pagination [collectionSize]="120" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>

<hr> -->

<pre>Current page: {{page}}</pre>